*{
    margin: 0; padding: 0;
}
.fas{
    color: rgb(165, 97, 42);
}
header{
    margin-bottom: 80px;
}

.left{
    text-align: left;
    background-color: #F2F2F2;
  
}
.left h3 {
    margin-top: 130px;
    margin-left: 200px;
    color:#4A403E ;
}
.left h1 {
   
    margin-left: 200px;
    color:#4A403E ;
   font-family: Verdana,;
   font-weight: bolder;
   height: 50px;

}
.left p{
    margin-left: 200px;
    color:#4A403E ;
}
.left span{
    color: chocolate;
    margin-left: 200px;
}
.left .btn{

  background-color:#4A403E ;
    padding: 5px;
    border-radius: 20px;
    margin-left: 190px;
    margin-top: 25px;
    width: 180px;
    height: 50px;
    font-size: 125%;
    color: beige;
    
}
.left .btn:hover{
    background-color:orange;
    
}
.right{
    padding-left: 270px;
    background-color: #F2F2F2;
   
}
.secondsection{
    margin-top: 40px;
}
.hamster .img{
padding-right:40px;
margin-top: 10px;
}

.text .btn1{

    background-color: burlywood;
      padding: 5px;
      border-radius: 20px;
      margin-left: 100px;
      margin-top: 10px;
      width: 180px;
      height: 50px;
      font-size: 125%;
      color: beige;
      
  }
  .text .btn1:hover{
      background-color:orange;
  }
  .parrot img{
    padding-left: 80px;
}
      
.parrot .btn1{

    background-color:burlywood ;
      padding: 5px;
      border-radius: 20px;
      margin-left: 70px;
      margin-top: 30px;
      width: 180px;
      height: 50px;
      font-size: 125%;
      color: beige;
      
  }
  .parrot .btn1:hover{
      background-color:#A61E10;
  }
      
.dog .btn1{

    background-color:burlywood;
      padding: 5px;
      border-radius: 20px;
      margin-left: 50px;
      margin-top: 10px;
      width: 180px;
      height: 50px;
      font-size: 125%;
      color: beige;
      
  }
  .dog .btn1:hover{
      background-color:black;
  }
  .thirdsection{
      margin-top: 40px;
  }
  .card{
      margin-left: 60px;
      margin-top: 50px;
  }
     .card-body span{
         color: chocolate;
         margin-bottom: 10px;
         font-size: xx-large;
     }
     .card-body h5{
       color: brown;
     }
     .card-body p{
         font-size: larger;
         font-weight: 500;
     }
     .ssr{
         margin-top: 40px;
         margin-left: 28px;
         background-color: white;
         height: 400px;
         width: 600px;
     }
     .ssl{
         background-color: white;
         height: 400px;
         width: 400px;
         margin-top: 40px;
     }
    .ssl h3{
       margin-top: 100px;
        color:chocolate;
        text-align: center;
        font-weight: bold;
    }
    .ssl h1{
       
        color: brown;
        text-align: center;
        font-weight: bolder;
      
    }
    .ssl span{
        color: chocolate;
        margin-left: 125px;
        font-weight: bolder;
        font-size: x-large;
       
    
       
    }
    .ssl .btnnn{
    
      background-color:#4A403E ;
        padding: 5px;
        border-radius: 20px;
        margin-left: 80px;
        margin-top: 25px;
        width: 180px;
        height: 50px;
        font-size: 125%;
        color: beige;
        
    }
    .ssl .btnnn:hover{
        background-color:orange;
    }
    .footer-nav{
        background-color:#F2F2F2;
        height: 80px;
       
    }
    .icons{
        background-color:#F2F2F2;
      height: 80px;
      
       
    }
    .fab{
        margin-bottom: 15px;
        width: 150px;
        color: black;
    }
    .lastone{
        background-color:#F2F2F2;
       
    }
    .footer-nav li a {
        text-decoration: none;
        color: chocolate;

    }
  